<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>SukretBox Login</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>


<div class="container">

    <div class="row"> <div class="col-md-4">
        <div th:if="${param.logout}" class="row alert alert-info">
            You have been logged out.
        </div></div>
    </div>
    <div class="row"><div class="col-md-4">
        <h2>Welcome to SukretBox</h2>
    </div></div>
    <div class="row"><div class="col-md-4">
    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username and password.
    </div></div>
    </div>


    <div class="row">
        <div class="row col-md-4" id="alert_placeholder" style="margin-top:7%"></div>
    </div>
    <form th:action="@{/login}" method="post">
    <div class="row">
        <div class="form-group col-md-3">
            <input type="text" placeholder="User name" name="username" class="form-control" id="userName">
        </div>
        <div class="form-group col-md-3">
            <input type="password" placeholder="Password" name="password" class="form-control" id="password">
        </div>
    </div>
    <div class="row">
        <div class="btn-group col-md-3" role="group">
            <input type="submit"  value="Sign In" class="btn btn-default"/>
            <button id="newUserButton" type="button" class="btn btn-default">Register new user</button>

        </div>
    </div>
    </form>
</div>





<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script src="js/sukretbox.js"></script>
</body>
</html>